@use '../../styles//variables' as mixin;

@mixin theme($theme) {
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
  color: map-get(mixin.$colors, $theme);
  font-weight: bold;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: map-get(mixin.$colors, 'nav');
  color: map-get(mixin.$colors, 'black');
  border: 1px solid map-get(mixin.$colors, 'line');
  border-radius: 0.6rem;
  margin: 1rem 0;
  width: 15.5rem;
  min-height: 13rem;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  font-size: 1rem;
}

.container:hover {
  box-shadow: mixin.$shadow;
  transition: all 0.5s;
}

.content {
  padding: 0.7rem 0.8rem 0rem 0.8rem;
  border-radius: 0.6rem;
  background-color: map-get(mixin.$colors, 'white');
  flex: 2;
  transition: all 0.5s;
}

.job {
  font-weight: bold;
  margin-bottom: 0.5rem;
  height: 2rem;
}

.status {
  margin-bottom: 0.5rem;
  color: map-get(mixin.$colors, 'gold');
  font-weight: bold;
}

.Pending {
  @include theme('gold');
}

.Interview {
  @include theme('main');
}

.Declined {
  @include theme('red');
}

.Offer {
  @include theme('green');
}

.date {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 0rem;
}

i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.bottom {
  border: 1px solid map-get(mixin.$colors, 'line');
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.edit {
  height: 1.9rem;
  padding: 0.3rem 0.5rem;
  background-color: map-get(mixin.$colors, 'main');
  border: 1px solid map-get(mixin.$colors, 'main');
  border-radius: 0.2rem;
  cursor: pointer;
  margin-top: 0.8rem;
  margin-right: 0.8rem;
  color: map-get(mixin.$colors, 'white');
  transition: all 0.5s;
}

.delete {
  height: 1.9rem;
  padding: 0.3rem 0.5rem;
  background-color: map-get(mixin.$colors, 'red');
  border: 1px solid map-get(mixin.$colors, 'red');
  border-radius: 0.2rem;
  cursor: pointer;
  margin-top: 0.8rem;
  margin-right: 0.8rem;
  color: map-get(mixin.$colors, 'white');
  transition: all 0.5s;
}

.empty {
  font-size: 2rem;
  font-weight: bold;
}

@include mixin.tabletMedia() {
  .grid {
    width: 100%;
    display: grid;
    gap: 2.5rem;
    justify-content: center;
    grid-template-columns: repeat(2, 20rem);
  }
}

@include mixin.largerthanphone() {
  .container {
    width: 19rem;
    transition: all 0.5s;
  }
  .content {
    transition: all 0.5s;
  }
  .edit {
    margin-top: 0.8rem;
    margin-right: 1rem;
    transition: all 0.5s;
  }
  .delete {
    margin-top: 0.8rem;
    margin-right: 1rem;
    transition: all 0.5s;
  }
}

@include mixin.wideScreen() {
  .grid {
    grid-template-columns: repeat(3, 20rem);
  }
}
